﻿<div class="jumbotron">
    <h1>Servicios Web - Laboratorio REST API Comercio</h1>
    <p>
        Para hacer uso de la API dirijase a la ruta api/canton
    </p>
    <p>
        En caso de errores:
    </p>
    <ul>
        <li>
            Asegurese que la conexión a la base de datos es correcta en root/Logica/SQL.cs
        </li>
    </ul>
    
</div>
